interface Vlan10
 ip address {{ IP }} {{ MASK }}
 load-interval {{ LOAD }}
 no shutdown
!
interface Vlan11
 ip address {{ IP }} {{ MASK }}
 load-interval {{ LOAD }}
 no shutdown
!
router bgp {{ BGP_ASN }}
  neig {{ PEER_IP }}
  address-family ipv4 un
    neig {{ PEER_IP }} activate
